@model RegisterUserViewModel
@{
    ViewData["Title"] = "Registrarse";
    Layout = "_LayoutAnnonymous";
}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-success text-light"><h5 class="text-center">Iniciar Sesion</h5></div>
        <div class="card-body">

             @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-triangle-fill me-2"></i>
                    @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }

            <form asp-controller="Login" asp-action="Register" method="POST" enctype="multipart/form-data">
                
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nombre</label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="LastName" class="form-label">Apellido:</label>
                    <input class="form-control" asp-for="LastName" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">nombre de usuario:</label>
                    <input class="form-control" asp-for="UserName" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email:</label>
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                 <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label">Telefono:</label>
                    <input class="form-control" asp-for="PhoneNumber" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Contraseña:</label>
                    <input class="form-control" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label">Confirmar contraseña:</label>
                    <input class="form-control" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ProfileImage" class="form-label">Foto de perfil</label>
                    <input type="file" class="form-control" asp-for="ProfileImage" />
                    <span asp-validation-for="ProfileImage" class="text-danger"></span>
                </div>
                
                <div>
                    <button type="submit" class="btn btn-outline-primary float-end"><i class="bi bi-floppy2"></i> Save</button>
                    <a asp-controller="Login" asp-action="Index" class="btn btn-outline-warning float-end me-2"><i class="bi bi-arrow-left-short"></i>Volver al login</a>
                </div>

            </form>
        </div>
    </div>
</div>