@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@User.Identity?.Name</p>
    <a asp-controller="User" asp-action="Index" class="btn btn-outline-primary">Mi perfil</a>
</div>
