@model CreatePublicationViewModel

@{
    ViewData["Title"] = "Crear publicacion";
}

<div class="col-12 col-md-6 offset-md-3 ">
    <div class="card">
        <div class="card-header bg-success text-light"><h5 class="text-center">Crear publicacion</h5></div>
        <div class="card-body">
            <form asp-controller="Publication" asp-action="Create" method="POST" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="CreateAt" />

                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nombre</label>
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PublicationType" class="form-label">Tipo de publicacion</label>
                    <select asp-for="PublicationType" class="form-select">
                        <option value="0" disabled>--Seleccione una opcion--</option>
                        <option value="@((int)PublicationType.Imagen)">Imagen</option>
                        <option value="@((int)PublicationType.Video)">Video</option>
                    </select>
                    <span asp-validation-for="PublicationType" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="ImageUrl" class="form-label">Subir imagen</label>
                    <input type="file" class="form-control" asp-for="ImageUrl" />
                </div>

                <div class="mb-3">
                    <label asp-for="VideoUrl" class="form-label">Subur video</label>
                    <input class="form-control" asp-for="VideoUrl" />
                </div>

                <div>
                    <button type="submit" class="btn btn-outline-primary float-end"><i class="bi bi-floppy2"></i> Save</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning float-end me-2"><i class="bi bi-arrow-left-short"></i>Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>
